Header{
    background-color:green;
}

    
    div#pp{
        margin: auto;
        margin-left: 547px;
        height: 8px;
        width: 200px;
        margin-top: 0%;
        
    }


div#ano{
  margin: auto;
  margin-left: 429px;
  height: 8px;
  width: 200px;
  margin-top: 4%;
  margin-right: 35%;
 font-size:100%;
  
}

div#conteudo{
    
  margin: auto;
        margin-top: 60px;
        width: 25%;
        height: 269px;
        margin-right: 53%;
        border: 25px  solid grey;
 
  
}
    
div#tela{
        margin: auto;
        margin-top: 60px;
        width: 17%;
        height: 64px;
        margin-right: 35%;
        border: 25px  solid grey;
         }
 
         #more {display: none;}
        